.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);

    height:100%;
    background-size:cover;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: .1vw;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: initial;
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: .1vw;
}



.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: initial;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    
    width: 200px;
    display: flex;
    cursor: pointer;
    flex-direction: row;

}


.carrosel-filmes{
    margin-top:5px;
}



