*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(20, 194, 179);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
nav>a{
  margin: 0 12px;
  text-decoration: none;
  padding: 8px;
  color:coral;
  
}

nav a:hover{
  color:darkred;
}

/*filme principal*/



